@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Global Styles */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "DM sans", sans-serif;
}

:root {
    --main-color: #64c62b;
    --text-color: #4d6183;
    --bg-color: #fff;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

/* Header Styles */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 22px 5% 22px 20px;
    border-bottom: 1px solid black;
    transition: all 0.45s ease;
}

header.shadow {
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
    border-color: #b2bec3;
}

#navbar {
    display: flex;
}

#navbar li a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.45s ease;
}

#logo {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

#logo img {
    height: 85px;
    margin-right: 5px;
}

#navbar ul {
    display: flex;
    align-items: center;
}

#navbar li a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.45s ease;
}

#navbar li a:hover {
    color: var(--main-color);
}

#navbar li a.active {
    color: var(--main-color);
}

/* Main Styles */

main {
    padding-inline: 20px;
}

#bemvindo .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 200px 0 200px;
}

#bemvindo .welcome .text-and-button .text-home {
    width: 60%;
    margin: 30px;
}

.text-and-button h1 {
    opacity: 1;
}

#bemvindo .welcome .text-and-button .text-home p {
    margin-bottom: 0px;
}

.text-and-button .text {
    margin: 30px;
}

.text-and-button {
    max-width: 60%;
}

.text-and-button h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-and-button p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.tree img {
    height: 512px;
    margin-right: 30px;
}

#home-button {
    margin-top: 20px;
}

#home-button button {
    width: 322px;
    height: 64px;
    padding: 10px 20px;
    margin: 30px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

#home-button button:hover {
    background-color: #64c62be8;
}

/* Nossa Missão */

#missao {
    margin: 200px 0 200px;
}

.mission {
    text-align: left;
}

.text-and-images {
    display: flex;
    align-items: center;
}

.text-container {
    flex: 1;
    margin-right: 70px;
    margin-left: 20px;
}

.text-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.text-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    height: 492px;
    gap: 46px;
}

.images-container img {
    border-radius: 10px;
}

/* Por que Reciclar */

#informacoes {
    text-align: center;
    margin: 300px 0 300px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-and-icons {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-and-icons h2 {
    margin-bottom: 0px;
    font-size: 2rem;
}

.text-and-icons p {
    max-width: 380px;
    margin: 0 20px;
    text-align: justify;
}

.icon {
    flex-shrink: 0;
}

.left {
    order: -1;
}

.right {
    order: 1;
}

/* O Impacto Ambiental */

#impactoambiental {
    margin: 200px 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.impact {
    width: 100%;
}

.impact h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.impacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.impacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* Ajuste conforme necessário */
    margin: 10px 0;
}

.text {
    flex: 1;
    text-align: left;
    /* Para alinhar o texto à esquerda */
}

.image {
    flex-shrink: 0;
    margin-left: 450px;
    /* Espaço entre o texto e a imagem */
}

.image img {
    max-width: 150px;
    /* Ajuste conforme necessário */
    height: auto;
}

/* Sobre */

#sobre {
    margin: 200px 0 200px;
    max-width: 1920px;
}

.sobre-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-about h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.sobre-text-and-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.sobre-icon {
    flex: 0 0 auto;
}

.sobre-text-content {
    flex: 1;
    padding: 0 20px;
}

.sobre-text-content p {
    color: #77b0aa;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6;
}

/* FAQ */

#faq {
    margin: 10px 0;
    /* Margin top e bottom de 400px */
    text-align: center;
}

.questions {
    max-width: 1000px;
    /* Ajusta conforme necessário */
    margin: 0 auto;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.faq img.faq-icon {
    max-width: 50px;
    /* Ajuste conforme necessário */
}

.faq h2 {
    margin: 0;
}

.questions p {
    margin: 20px 0;
}

.faq-item {
    margin: 10px 0;
    text-align: center;
}

.faq-question {
    background-color: #77b0aa;
    color: white;
    border: none;
    height: 86px;
    /* Altura fixa */
    width: 1000px;
    /* Largura fixa */
    margin: 20px auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 18px;
    /* Aumenta o tamanho do texto */
    white-space: nowrap;
    /* Mantém o texto em uma linha */
    overflow: hidden;
    /* Esconde o texto excedente */
    text-overflow: ellipsis;
    /* Adiciona reticências ao texto excedente */
    padding: 0 20px;
    /* Padding horizontal */
}

.faq-question::after {
    content: "▼";
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #77b0aa;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question::after {
    transform: rotate(180deg);
}

/* Footer */

footer {
    margin-top: 100px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 500px;
}

.persons img {
    position: relative;
    max-width: 802px;
    height: auto;
    top: 100px;
}

.contact-form-container {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    max-width: 480px;
    height: 630px;
    margin-bottom: -100px;
    /* Faz o formulário invadir o footer-info */
}

.contact-form-container h2 {
    margin: 0;
    font-size: 1.5em;
}

.contact-form-container p {
    margin: 5px 0 20px;
    font-size: 1em;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 15px;
    /* Aumentado para 15px */
    margin-bottom: 15px;
    /* Aumentado para 15px */
    font-size: 1.2em;
    /* Aumentado para 1.2em */
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    /* Aumentado para 15px */
    background-color: #487d60;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2em;
    /* Aumentado para 1.2em */
}

.footer-info {
    background-color: #487d60;
    padding: 40px;
    color: white;
    text-align: left;
    z-index: 1;
}

.footer-info nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-info nav ul li {
    display: inline;
    margin-right: 20px;
}

.footer-info nav ul li a {
    color: white;
    text-decoration: none;
}

.footer-info .contact-info p,
.footer-info p {
    margin: 5px 0;
}