body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    flex-direction: column;
}
.form-group {
    display: auto;
    align-items: auto;
    flex: 1;
}
header {
    background-color: #004d3b;
    color: white;
    background-color: #004d3b;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: auto;
    max-width: auto;
    padding: 10px;
    padding: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 1.5em;
}
button {
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}
.options {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
h2 {
    margin-top: 20px;
}
p{
    font-size: 1.25rem;
}
.container {
    display: flex;
    justify-content: space-around;
    top: 70px;
    width: 100%;
    max-width: 800px;
    margin: 40px 0;
    box-sizing: border-box;
}
.column {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}
.icon {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: #ff9999;
    border-radius: 50%;
    margin: 10px 0;
}
.text h2{
    display: block;
    justify-content: center;
}
.footer {
    background-color: #004d3b;
    color: white;
    font-size: 15px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left, .footer .right {
    display: flex;
    flex-direction: column;
}
.footer .left div, .footer .right div {
    margin-bottom: 1%;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .contact-info {
    display: flex;
    align-items: center;
}
.footer .contact-info img {
    margin-left: 5px;
}
.footer .bottom {
    background-color: white;
    color: black;
    position: absolute;
    align-items: center;
}