body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #004d3b;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: auto;
    max-width: 1200px;
    padding: 10px;
}
h2 {
    font-size: 2rem;
    color: #333;
}
h3 {
    font-size: 1.5rem;
    color: #555;
    text-align: auto;
}
form {
    display: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}
.form-group {
    display: flex;
    align-items: flex-start;
    flex: 1;
}
label {
    color: #333;
    margin-bottom: 5px;
    font-size: 1.5rem;
    background-color: #44925E;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
}
input[type="text"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.5rem;
}
.button {
    display: auto;
    justify-content: end;
    width: 100%;
}
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #60bf29;
    color: white;
    transition: background-color 0.3s ease;
    flex: 1;
}
.map {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.map img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 0 0 30%;
    justify-self: center;
    position: fixed;
    right: 100px;
    bottom: 300px;
}
.footer {
    background-color: #004d3b;
    color: white;
    font-size: 15px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left, .footer .right {
    display: flex;
    flex-direction: column;
}
.footer .left div, .footer .right div {
    margin-bottom: 1%;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .contact-info {
    display: flex;
    align-items: center;
}
.footer .contact-info img {
    margin-left: 5px;
}
.footer .bottom {
    background-color: white;
    color: black;
    position: absolute;
    align-items: center;
}